NODE_ENV=development

# Auth Service
AUTH_CONTAINER_NAME=auth_service_local
AUTH_PORT=8081
AUTH_MONGO_URI=YOUR_MONGOATLAS_URL


# Lead Service
LEAD_CONTAINER_NAME=lead_service_local
LEAD_PORT=8082
LEAD_MONGO_URI=YOUR_MONGOATLAS_URL

FRONTEND_CONTAINER_NAME=frontend_local
FRONTEND_PORT=3000

NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:8081/api/auth
NEXT_PUBLIC_LEAD_SERVICE_URL=http://localhost:8082/api/leads

# Shared
JWT_SECRET=SecretKey123